.navbar{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    font-family: "Lora", serif;
    display: flex;  /*without using it, we cannot align anything*/
    align-items: center; /* vertically alignment */
    justify-content: space-between; /*to seperate them*/
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    font-family: "Lora", serif;
    font-weight: 500;
}